<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>vuedraggable 测试实例</title>
    <script src="./assets/vue.global.min.js"></script>
    <script src="./assets/Sortable.min.js"></script>
    <script src="./assets/vuedraggable.umd.min.js"></script>
</head>

<body style="padding:10px;">
    <div id="app" class="demo">
        <!-- 数据克隆 有时候我们拖动的时候并不想影响原来的数据。 https://juejin.cn/post/7031111993746522149?from=search-suggest -->
        <div class="like">
            <!-- 
              注意需要加上group属性，并配置pull: 'clone'才能进行克隆
             -->
            <draggable v-model="likeList" item-key="id" :group="{ name: 'course', pull: 'clone' }">
                <template #item="{ element }">
                <div class="item">{{ element.id + "、" + element.name }}</div>
              </template>
            </draggable>
        </div>

        <div class="unlike">
            <draggable v-model="unlikeList" item-key="id" :group="{ name: 'course', pull: 'clone' }">
                <template #item="{ element }">
                <div class="item">{{ element.id + "、" + element.name }}</div>
              </template>
            </draggable>
        </div>

        {{ likeList }}
        <hr /> {{ unlikeList }}
    </div>
    <script>
        const app = {
            data() {
                return {
                    //需要拖拽的数据
                    likeList: [{
                        id: 1,
                        name: "java程序设计基础"
                    }, {
                        id: 2,
                        name: "数据结构与算法"
                    }, {
                        id: 3,
                        name: "数据库原理"
                    }, {
                        id: 4,
                        name: "软件工程"
                    }, ],
                    unlikeList: [{
                        id: 8,
                        name: "企业管理"
                    }]
                }
            },
            //注册draggable组件
            components: {
                'draggable': window.vuedraggable
            },
            methods: {
                //开始拖拽事件
                onStart() {

                },
                //结束拖拽事件
                onEnd() {

                }
            }
        }
        Vue.createApp(app).mount('#app')
    </script>

</body>

</html>